body {
  background-color: #b3b3b3;
  font-size: 150%;
  margin:4%;
}
nav a{
  background-color: pink;
  background-color: turquoise;
  text-decoration: none;
  width: 15%;
}
nav a:hover {
  color:#fff;
  width: 22%;
}
a {
  display: inline-block;
  background-color: red;
  text-decoration: none;
}
a:hover {
  color:#ff94a7;
}
header {
  text-align: center;
  background-color: gray;
  padding: 1%
}
section {
  width: 30%;
  display: inline-block;
  float: left;
  border-width: 10px 3px 5px 9px;
  background-color: #00f7ff52;
  padding: 3px 10px;
  margin: 1px;
  border-style: solid;
}
footer {
  clear: both;
}
header, footer {
  background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 10%, #00b7ea 100%);

}
.box {
  color:red;
  clear: both;
}
.fancy {
  color:green;
  clear: both;
}
