
h1 {
  color: #690420;
}
p {
  font-family: arial, sans-serif;
}
a {
  background-color: #690420; color: white;
}

#direita {
  border-left:1px solid #000; height:100%; z-index:1;
  position:absolute;
  left:25.5%;
  top:0px;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size:2vw;
}
#esquerda {
  word-wrap:break-word;
  height:80%;

  width:24%;
}
.child {
    position: relative;
    top : 50%;
    color: white;
}
.img {
  height: auto;
  max-width:100%;
}
